$maincolor: dodgerblue;
$introtitle: gray;
%quote {
  font-style: italic;
  text-align: right;
}

h1 {
  color: gray;
  text-align: center;
  padding: 10px;
}

.leftpic {
  float:left;
  width: 30%;
  padding: 20px;
  min-width: 300px;
}
.quotecontainer {
  float: left;
  width: 65%;
  margin-left: auto;
  margin-right: auto;
  min-width: 400px;
  padding: 40px;
  background-color: $maincolor;
  border-radius: 5px;
  margin: 20px;
  color:white;
}

#yogananda{
  @extend %quote;
}
.introtitle {
  margin-top: 10px;
  padding: 20px;
  color: $introtitle;
}

.table {
  border: 3px solid lightgray;
  padding: 40px;
  padding-bottom: 300px;
  border-radius: 15px;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
}

table, tr, td, th {
  margin-left: auto;
  margin-right: auto;
  max-width: 700px;
  border-collapse: collapse;
  border: 1px solid gray;
  padding: 5px;
}

th {
  background-color: $maincolor;
  color: white;
}

tr:hover{
  background-color: lightyellow;
}

.contactcontainer {
  background-color: $maincolor;
  border-radius: 5px;
  padding: 20px;
  margin: 40px;
}

.contactcontainer{
  color: white;
  ul {
    font-style:italic;
  }
}

.col-lg-3 {
  background-color: $maincolor;
  border-radius: 5px;
  color: white;
  padding: 20px;
  margin-bottom: 5px;

}
