$maincolor: dodgerblue;
$introtitle: gray;
%quote {
  font-style: italic;
  text-align: right;
}

h1 {
  color: gray;
  text-align: center;
  padding: 10px;
}

.welcome-container{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  margin-right: 20px;
  margin-left: 20px;
}

.welcome-item-1{
  width: 30%;
  padding: 30px;
}

.welcome-item-2{
  width: 70%;
  background-color: $maincolor;
  padding: 30px;
  border-radius: 5px;
  color: white;
}

@media all and (max-width: 800px){
  .welcome-container{
    flex-direction: column;
  }
  .welcome-item-1{
    width:70%;
  }
  .welcome-item-2{
    width:90%;
  }
}

#yogananda{
  @extend %quote;
}
.introtitle {
  margin-top: 10px;
  padding: 10px;
  color: $introtitle;
}

.table-container {
  border: 3px solid lightgray;
  padding: 40px;
  padding-bottom: 300px;
  border-radius: 15px;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
}

table, tr, td, th {
  margin-left: auto;
  margin-right: auto;
  max-width: 700px;
  border-collapse: collapse;
  border: 1px solid gray;
  padding: 5px;
}

th {
  background-color: $maincolor;
  color: white;
}

tr:hover{
  background-color: lightyellow;
}

.col-lg-3 {
  background-color: $maincolor;
  border-radius: 5px;
  color: white;
  padding: 20px;
  margin-bottom: 5px;

}
